.qnaBtn {
  border-radius: 0.5rem;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.questionBtn {
  border-radius: 2px solid transparent;
  background: var(--brown-40, #542f1a);
  color: #fff;
}

.Answerbtn {
  border: 1px solid var(--brown-40, #542f1a);
  background: var(--brown-10, #f5f1ee);
  color: #542f1a;
}

.qnaWidth {
  width: 100%;
}

.questionBtn .arrowRight2 {
  width: 18px;
  height: 18px;
  fill: #fff;
  margin-top: 3px;
  display: none;
}

.Answerbtn .arrowRight2 {
  width: 18px;
  height: 18px;
  fill: #542f1a;
  margin-top: 3px;
}

.questionBtn:hover {
  border: 2px solid var(--brown-50, #341909);
}

.Answerbtn:hover {
  border: 2px solid var(--brown-40, #542f1a);
}

.questionBtn:active {
  background: var(--brown-50, #341909);
}

.Answerbtn:active {
  background: var(--brown-20, #e4d5c9);
}

@media screen and (max-width: 375px) {
  .qnaBtn {
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
    font-size: 0.875rem;
  }
}
