.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 23px;
  background: rgba(0, 0, 0, 0.5);
}
.container {
  width: 100%;
  max-width: 612px;
  padding: 40px 40px 70px;
  border-radius: 24px;
  background-color: #fff;
}
.titleWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.title {
  display: flex;
  gap: 8px;
  font-size: 24px;
  line-height: 30px;
}
.iconMessages {
  width: 28px;
  height: 28px;
}
.closeButton {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.iconClose {
  width: 28px;
  height: 28px;
}
.userInfoWrap {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 12px;
}
.userImage {
  width: 28px;
  border-radius: 50%;
}
.formWrap {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

@media (max-width: 375px) {
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .iconClose {
    width: 22px;
    height: 22px;
  }
}
