.input {
  padding: 16px;
  border-radius: 8px;
  background: var(--grayscale-20);
  border: 1px solid transparent;
  width: 100%;
  resize: none;
}

.input:focus {
  border: 1px solid var(--brown-40);
}

.text {
  color: var(--grayscale-40, #818181);
  font-feature-settings: "clig" off, "liga" off;
  line-height: 22px;
}
