.complete {
  width: 76px;
  height: 26px;
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid var(--grayscale-60, #000);
  gap: 10px;
  color: var(--grayscale-60, #000);
}

.incomplete {
  width: 61px;
  height: 26px;
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid var(--grayscale-60, #000);
  gap: 10px;
  color: var(--grayscale-60, #000);
}
