.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  border-radius: 16px;
  background: var(--grayscale-10, #fff);
  box-shadow: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
}

.feedTop {
  display: flex;
  justify-content: space-between;
}
.delAndRejectionToggle {
  position: relative;
}
.moreBtn {
  cursor: pointer;
}

.delAndRejection {
  position: absolute;
  bottom: -75px;
  left: 0;
  border: 1px solid var(--gray30, #cfcfcf);
  box-shadow: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
  background: #fff;
  border-radius: 8px;
  padding: 4px 0;
}
.rejection,
.delete {
  font-size: 14px;
  padding: 6px 16px;
  cursor: pointer;
}
.delete {
  color: var(--red);
}

.feedBar {
  width: 100%;
  height: 1px;
  background: var(--grayscale-30, #cfcfcf);
}

.rejection:hover,
.delete:hover {
  background: #f9f9f9;
}

.rejectedText{
  color: var(--red, #b93333);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.editButton{
  position: absolute;
  bottom: 1.37rem;
  right: 2rem;
}
