* {
  z-index: 1;
}

.header {
  background: var(--grayscale-20);
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.header-img {
  width: 100%;
  height: 234px;
  background: url('../../../../public/assets/main-bg.png') center/cover no-repeat;
  position: absolute;
  z-index: 0;
}

.logo{
  width: 170px;
  height: 67px;
  flex-shrink: 0;
  margin-top: 50px
}
.profile-photo{
  width: 136px;
  height: 136px;
  flex-shrink: 0;
  border-radius: 136px;
}