.wrap {
  background: var(--Grayscale-20, #f9f9f9);
}
.wrapInner {
  width: 940px;
  margin: 0 auto;
}

.nav {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}

.imgWrap {
  width: 146px;
  height: 57px;
}
.imgWrap img {
  width: 100%;
  height: auto;
}

.choiceHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}
.listWrap {
  position: relative;
  z-index: 0;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* flex-wrap: wrap; */
  gap: 20px;
  padding: 0 32px;
}

.pagenation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 960px) {
  .wrapInner {
    width: 100%;
  }
  .nav {
    padding: 45px 50px;
  }
}
@media screen and (max-width: 909px) {
  /*small tablet*/
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  .choiceHeader {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 0 24px;
  }
  .choiceHeader h1 {
    font-size: 24px;
  }
  .list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* flex-wrap: wrap; */
    gap: 16px;
  }
}
@media screen and (max-width: 500px) {
  /*mobile*/
  .nav {
    gap: 42px;
  }
  h1 {
    font-size: 24px;
  }
  .list {
    padding: 0 24px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    margin: 0 24px;
  }
}
