.feedCardAnswer {
  display: flex;
  gap: 12px;
}
.imgBox{
  width: 48px;
}
.userAnswer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  width: 100%;
}
.userProfile {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.userName {
  margin-right: 8px;
  font-size: 18px;
  line-height: 24px;
}

.userCreateDate {
  color: var(--grayscale-40, #818181);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.answerEdit{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  width: 100%;
}

.answerInput{
  height: 186px;
  width: 100%;
  display: flex;
  padding: 16px;
  justify-content: left;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: none;
  background: var(--grayscale-20, #F9F9F9);
  text-align: justify;
  color: var(--Grayscale-60, #000);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  resize: none;
}
.answerInput:focus{
  border: 1px solid var(--brown-40, #542F1A);
}
