.deleteDiv{
  width: 100%;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleteButton {
  display: flex;
  justify-content: end;
  width: 716px;
}