.buttondiv {
  display: inline-flex;
  align-items: center;
  border: none;
  gap: 6px;
  color: var(--grayscale-40, #818181);
  background-color: #ffffff;
}
.img {
  width: 16px;
  height: 16px;
  color: var(--grayscale-40);
}
.buttondiv:hover {
  background: #f9f9f9;
  color: var(--grayscale-60);
}
.buttondiv:active {
  color: var(--blue-50, #1877f2);
}
