.feedCardAnswer {
  display: flex;
  gap: 12px;
}
.imgBox {
  flex-basis: 48px;
}

.imgBox img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.userAnswer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  width: 100%;
}

.userProfile {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.userName {
  margin-right: 8px;
  font-size: 18px;
  line-height: 24px;
}

.userCreateDate {
  color: var(--grayscale-40, #818181);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.userAnswerdetail {
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .imgBox {
    flex-basis: 32px;
  }

  .imgBox img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
  }
  .userName {
    font-size: 14px;
    line-height: 18px;
  }
}
